html {
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-color: rgba(0, 255, 255, 0.089);
}

body {
    margin: 0 20px;
}

.output-display {
    margin: 20px auto;
    padding: 12px;
    border: 1px solid black;
    width: auto;
    height: auto;
    background-color: lightcoral;
}

li {
    padding: 5px;
}

ol, ul {
    list-style: none;
}

span {
    padding-left: 20px;
    color: rgb(84, 223, 20);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: magenta;
}

